// Iphone XR
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  ::before,
  ::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

body {
  font-family: "SFProText", sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: gray;
}

.container {
  width: 414px;
  padding: 0 0 39px;
  margin: 0 auto;
}

.header {
  height: 470px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  background: linear-gradient(225deg, #894ac9 0%, #4d46b1 100%);
}

.btnClose {
  width: 32px;
  height: 32px;
  margin-right: 13px;
  border-radius: 50%;
  position: relative;
  background: url(../img/close.svg) center no-repeat;
  background-color: rgba(255, 255, 255, 0.527344);
  align-self: flex-end;
}

.header-title {
  font-family: "SFProDisplay", sans-serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.37px;
  align-self: center;
  margin-bottom: 33px;
}

.header-group {
  position: relative;
  .header-group--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.15) 50%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .header-group--blik {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    .blik {
      width: 100px;
      height: 200px;
      background-color: white;
      filter: blur(130px);
      transform: translateX(-400px) skewX(45deg);
    }
  }

  .header-text {
    font-family: "SFProText", sans-serif;
    font-size: 12px;
    line-height: 14px;
    p {
      padding: 17px 0 17px 33px;
      border-bottom: 1px solid;
      border-image: linear-gradient(
          to right,
          rgba(255, 255, 255, 0),
          rgba(255, 255, 255, 0.3),
          rgba(255, 255, 255, 0)
        )
        50% 0%;
      &:first-child {
        border-top: 1px solid;
      }
    }
  }

  .header-lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: url(../img/iphoneXR/lines.svg) 0 0 no-repeat;
    transition: 2s linear;
  }

  .header-dots {
    .dot {
      opacity: 0;
      transition: 0.1s linear;
      width: 14px;
      height: 14px;
      border: 3px solid #ffffff;
      box-sizing: border-box;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.139942);
      border-radius: 50%;
      &:first-child {
        position: absolute;
        top: 63px;
        right: 32px;
        background: #ee304e;
      }
      &:last-child {
        position: absolute;
        top: 161px;
        right: 32px;
        background: #04cd00;
      }
    }
  }

  .header-points {
    .point {
      opacity: 0;
      transition: 0.3s linear;
      position: absolute;
      width: 51px;
      height: 24px;
      background-color: white;
      border-radius: 12px;
      color: black;
      box-shadow: 0px 2px 4px rgba(90, 0, 124, 0.25);
      display: flex;
      align-items: center;
      justify-content: center;
      &:first-child {
        right: 14px;
        top: 31px;
      }
      &:last-child {
        right: 14px;
        top: 129px;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 4px solid white;
      }
      .point-text {
        font-family: "SFProDisplay", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
      }
      .point-arrow {
        margin-top: 2px;
      }
    }
  }

  .header-girl {
    position: absolute;
    top: -42px;
    left: 178px;
    width: 152px;
    height: 290px;
    background: url(../img/iphoneXR/girlIphoneXR.png) center no-repeat;
    background-size: cover;
  }
}

@keyframes animationDots {
  from {
    transform: scale(1.3);
  }
  to {
    transform: scale(1);
  }
}

@keyframes animationPoint {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1);
  }
  30% {
    transform: scale(0.9);
  }
  35% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.9);
  }
  45% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes animationBlik {
  from {
    transform: translateX(-400px) skewX(45deg);
  }
  to {
    transform: translateX(1000px) skewX(45deg);
  }
}

// @keyframes animationLines {
//   from {
//     width: 0%;
//   }
//   to {
//     width: 100%;
//   }
// }

.slider {
  position: relative;
  top: -72.5px;
  overflow: hidden;
}
.slider-container {
  display: flex;
  & > div {
    flex-shrink: 0;
  }
  & > div + div {
    margin-left: 5px;
  }
}
.slide {
  width: 374px;
  height: 145px;
  background: #f3f2f9;
  border-radius: 10px;
  color: black;
  padding: 20px;
}

.slide-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.slide-top--title {
  font-family: "SFProText", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
.slide-autor {
  font-family: "SFProText", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.5;
}
.rating {
  margin-bottom: 15px;
}
.slide-comment {
  font-family: "SFProText", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.firstSlideCopy {
}

// Iphone X
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) {
}

// Iphone 5,SE
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) {
}
